{% extends 'PortfolioDatabase/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <div class="container mt-3">
        <div class="row">
            <h1 class="text-center page-title">Contact</h1>
        </div>
        <div class="row mt-2">
            <h3 class="text-center">Questions or Comments?</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" class="btn btn-primary mt-3">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                    <a class="email-link" href="mailto: williammcconnell@mail.weber.edu">williammcconnell@mail.weber.edu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
