{% extends 'PortfolioDatabase/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <div class="container mt-3">
        <div class="row">
            <h1 class="text-center page-title">Contact</h1>
        </div>
        <div class="row">
            <p>williammcconnell@mail.wsu.edu</p>
        </div>
    </div>
{% endblock %}
</body>
</html>
