{% extends 'PortfolioDatabase/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <div class="container mt-3">
        <div class="row">
            <h1 class="text-center page-title">Portfolios</h1>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-5">
                <a href="{% url 'PortfolioDatabase:create_portfolio' %}" class="btn btn-warning">+ Create Portfolio</a>
            </div>
        </div>
        {% for portfolio in portfolio_list %}
            <div class="row align-items-center">
                <div class="col-md-3 offset-md-2">
                    <img class="card mt-1 zoom" height="150px" src="{{ portfolio.portfolio_image }}" alt="{{ portfolio.portfolio_name }}">
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ portfolio.portfolio_name }}</h3>
                            <h5 class="card-text">{{ portfolio.portfolio_desc }}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'PortfolioDatabase:portfolioDetail' portfolio.id %}" class="btn btn-success">Details</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'PortfolioDatabase:update_portfolio' portfolio.id %}" class="btn btn-primary">Edit</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>
